{% extends 'home/base.html' %}
{% load static %}
{% block content %}

  <body>
    <bs-body-color>
    <!-- Barra de Navegação (Logo, Pesquisa, Home, Carrinho e Perfil) -->
    {% include 'home/partials/_barra.html'%}

    
    <div class="p-3 mb-2" style="background-color: #414141; min-height: 700px;">
        <div class="p-3 mb-2" style="background-color: #2da8dd; min-height: 700px;">
            <h1>{{ items.name }}</h1>
            <p style="font-size: 30px;">
                <b>preço a declarar: R$ {{ items.price }}</b> 
            </p>
            <p style="font-size: 20px;">
                <b>{{ items.category }}</b> 
            </p>

            <ul style="display: flex;">
                <li style="list-style: none; margin: auto; padding: 3%;">
                  {% if items.image == "" or items.image == null %}
                    <img class="imagem__imagem" src="https://cdn.discordapp.com/attachments/1096519466914947204/1096930839935340605/0fffcf4a571bc35e42b713f406363b71.jpg" alt="maria_amiga">
                  {% else %}
                    <img class="imagem__imagem" src="{{ items.image.url }}" alt="maria_amiga">
                  {% endif %}
                </li>
                
                <li style="list-style: none; padding: 3%;">
                    <div class="descricao" style="font-size: larger;">
                        <h2>Descrição</h2>
                        <p>
                          {{ items.description }}
                        </p>
                        <button style="background-color: #ecd048; color: black; height: 50px; border-radius: 10px;" onclick="alert('Item adicionado ao carrinho!')">
                            <b>Adicionar ao carrinho</b>
                        </button><br><br>
                        <button style="background-color: #ecd048; color: black; height: 50px; border-radius: 10px;"onclick="alert('Item comprado!')">
                            <b>Comprar agora</b>
                        </button><br><br>
                        <button class="botao_amarelo" onclick="alert('Item foi favoritado!')">
                            <b>Favoritar</b>
                        </button><br><br>
                        
                        <button style="background-color: #ecd048; color: black; height: 50px; border-radius: 10px;">
                            <b>Aba de comentários</b>
                        </button><br><br>

                    </div>
                    
                </li>
            </ul>
            <a href="javascript:history.back()">
                <button style="background-color: #ecd048; color: black; width: 10%; height: 50px; border-radius: 10px;">
                    <b>Voltar</b>
                </button>
            </a>

        </div>
    </div>

       
{% endblock %}
