{% extends 'home/base.html' %}
{% load static %}
{% block content %}


<body style="background-color: #414141">

    {% include 'home/partials/_barra.html'%}
    <div class="p-3 mb-2">

        <!-- Botão de Categorias 1 -->
        <p class="carrinho_texto_titulo"> CARRINHO </p>
       {% if user_carrinho %}
       {% for user_car in user_carrinho %}

        <!-- Cards de Itens para Comprar 1 (Título, Imagem, Texto e Botão para Página do Produto) -->
        

        <div class="card-group">

            <ul class="cards__lista">
                {% if pub %}
                {% for items in pub %}

                {% if items == user_car.itens_carrinho %}

                <div class="card mb-3" style="width: 1400px; height: 309px; border-radius: 20px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        {% if items.image == "" or items.image == null %}
                        <img class="card_image_carrinho" src="{% static '/assets/imagens/home/not_found.png' %}" alt="Produto">
                        {% else %}
                        <img class="card_image_carrinho" src="{{ items.image.url }}" alt="Produto">
                        {% endif %}
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text" style="height: 20px; overflow: hidden;">{{ items.category }} || R${{ items.price }}</p>
                            <h5 class="card-title" style="height: 50px; overflow: hidden;">{{ items.name }}</h5>
                            <p class="card-text" style="height: 80px; overflow: hidden;">{{ items.description  }}</p>
                            <a href="{% url 'produto' items.id %}" class="botao_amarelo">Visualizar</a> 
                            <a href="{% url 'produto' items.id %}" class="botao_amarelo">Abrir Negociação</a> 
                            <a href="{% url 'produto' items.id %}" class="botao_amarelo">Remover</a> 
                        </div>
                      </div>
                    </div>
                  </div>
                {% else %}
                {% endif %}

                {% endfor %}
                {% else %}
                {% endif %}
            </ul>
        </div>

        {% endfor %}
        {% else %}
        <div>
            teste
        </div>
        {% endif %}

        <!-- JavaScript (Opcional) -->
        <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    </div>
    <!-- Barra de Navegação (Logo, Pesquisa, Home, Carrinho e Perfil) -->

    {% include 'home/partials/_footer.html'%}

</body>

</html>

{% endblock %}