{% extends 'home/base.html' %}
{% load static %}
{% block content %}


<body style="background-color: #414141">

    {% include 'home/partials/_barra.html'%}
    <div class="p-3 mb-2">
      {% if notif %}
        <div class="text-center">
          <button class="botao_amarelo" data-toggle="modal" data-target="#myModal">Notificações!!!!</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Notificações</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% for notificacao in notif %}
                <p>{{ notificacao.compra_finalizada }} compras foram finalizadas e outras {{ notificacao.compra_cancelada }} foram canceladas pelo vendedor.</p>
                {% endfor %}
                <p>Caso haja algum problema, fale com o vendedor!</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="redirectToNotification()">Fechar</button>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% if user_carrinho %}
        <p class="carrinho_texto_titulo"> CARRINHO </p>
        <p class="carrinho_texto_titulo">Total: R${{ valor_total }} - {{ itens_quant }} itens</p>

        {% for user_car in user_carrinho %}
        
          <div class="card-group">

            <ul class="cards__lista">
                {% if pub %}
                  {% for items in pub %}

                    {% if items == user_car.itens_carrinho %}

                      <div class="card mb-3" style="width: 88vw; height: 309px; border-radius: 20px;">
                          <div class="row g-0">
                            <div class="col-md-4">
                              {% if items.image == "" or items.image == null %}
                              <img class="card_image_carrinho" src="{% static '/assets/imagens/home/not_found.png' %}" alt="Produto">
                              {% else %}
                              <img class="card_image_carrinho" src="{{ items.image.url }}" alt="Produto">
                              {% endif %}
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <div class="card-group">
                                  <div class="col-sm-6">
                                    <p class="card-text" style="height: 20px; overflow: hidden;">{{ items.category }} || R${{ items.price }}</p> 
                                    <h5 class="card-title" style="height: 30px; overflow: hidden;">{{ items.name }}</h5>
                                    <p class="card-text" style="height: 80px; overflow: hidden;">{{ items.description }}</p>
                                  </div>
                                  <div class="col-sm-6">
                                    <h5 class="card-title" style="height: 30px; overflow: hidden;">CONTATO</h5>
                                    {% for profile in profiles %}
                                      {% if profile.user == items.created_by %}
                                      <p class="card-text" style="height: 20px; overflow: hidden;">Vendedor: {{ profile.name }}</p>
                                        <p class="card-text" style="height: 20px; overflow: hidden;">Número: {{ profile.phone }}</p> 
                                      {% else %}
                                      {% endif %}
                                    {% endfor %}
                                  </div>
                                </div>
                                
                                  <div class="text-center">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <form action="{% url 'produto' items.id %}">
                                              <button class="botao_amarelo" type="submit">Visualizar</button>
                                            </form>
                                        </div>
                                        <div class="col-sm-4">
                                            <form action="{% url 'finalizar_cart' user_car.id %}">
                                              <button class="botao_amarelo" type="submit" onclick="alert('Aguardando confimação do vendedor...')">Finalizar Compra</button>
                                            </form>
                                        </div>
                                        <div class="col-sm-4">
                                            <form action="{% url 'remove_cart' user_car.id %}" method="POST">
                                                {% csrf_token %}
                                                <button name="removeItem_btn" class="botao_amarelo" type="submit" style="background-color: #ed2929;">Remover</button>
                                            </form>
                                        </div>
                                    </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    {% else %}
                    {% endif %}

                  {% endfor %}

                {% else %}
                {% endif %}
            </ul>
          </div>

      {% endfor %}
        <form action="{% url 'feed' %}">
          <button name="goShopping_btn" class="botao_amarelo" style="margin-left: 73px;" type="submit">Voltar as compras</button>
        </form>
        {% else %}
        <!-- criar aqui um html para carrinho vasio -->

        <br><br><br><br><br><br>
        <div style="display: flex; justify-content: center; align-items: center;">
          <img class="icone_barra" style="width: 65px; height: auto; margin-bottom: 30px; margin-right: 10px;" src="{% static '/assets/imagens/home/cesta.png' %}" alt="Bootstrap"> 
          <p class="carrinho_texto_titulo" style="font-size: 60px;">CARRINHO VAZIO </p>
        </div>
        <p class="carrinho_texto_titulo"> adicione itens ao seu carrinho </p>
        <div style="display: flex; justify-content: center; align-items: center;">
          <form action="{% url 'feed' %}">
            <button name="goShopping_btn" class="botao_amarelo" type="submit">Ir as compras</button>
          </form>          
        </div>

        {% endif %}

        <!-- JavaScript (Opcional) -->
        <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    </div>
    <!-- Barra de Navegação (Logo, Pesquisa, Home, Carrinho e Perfil) -->

    {% include 'home/partials/_footer.html'%}

    <script>
      function redirectToNotification() {
        window.location.href = "{% url 'notificacao' %}";
      }
    </script>

</body>

</html>

{% endblock %}