{% extends 'home/base.html' %}
{% load static %}
{% block content %}


<body style="background-color: #414141">

    {% include 'home/partials/_barra.html'%}
    <div class="p-3 mb-2">

        {% if cats %}
        {% for categories in cats %}

        <!-- Botão de Categorias 1 -->
        <a href="{% url 'categoria' categories.id %}" name="{{ categories.name }}_btn" class="botao_amarelo" style="background-color: #ecd048; color: #000000;"><b> Categoria: {{ categories.name }}</b></a>



        <!-- Cards de Itens para Comprar 1 (Título, Imagem, Texto e Botão para Página do Produto) -->

        <div class="card-group">

            <ul class="cards__lista">
                {% if pub %}
                {% for items in pub %}

                {% if items.category_id == categories.id %}
                
                <li class="card_feed">
                    {% if items.image == "" or items.image == null %}
                    <img class="card_image" src="{% static '/assets/imagens/home/not_found.png' %}" alt="Produto">
                    {% else %}
                    <img class="card_image" src="{{ items.image.url }}" alt="Produto">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title" style="height: 50px; overflow: hidden;">{{ items.name }} R${{ items.price }}</h5>
                        <p class="card-text" style="height: 80px; overflow: hidden;">{{ items.description }}</p>
                        <a href="{% url 'produto' items.id %}" name="{{items.name}}_btn" class="botao_amarelo" style="background-color: #2da8dd; color: #000000;">Visualizar</a>
                    </div>
                </li>
                {% else %}
                {% endif %}

                {% endfor %}
                {% else %}
                {% endif %}
            </ul>
        </div>

        {% endfor %}
        {% else %}
        {% endif %}

        <!-- JavaScript (Opcional) -->
        <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    </div>
    <!-- Barra de Navegação (Logo, Pesquisa, Home, Carrinho e Perfil) -->

    {% include 'home/partials/_footer.html'%}

</body>

</html>

{% endblock %}