{% extends 'home/base.html' %}
{% load static %}
{% block content %}


<body style="background-color: #414141">

    {% include 'home/partials/_barra.html'%}

    <br>
    <div style="display: flex; justify-content: center; align-items: center;">
        
        <div>
            <form action="{% url 'painel_de_vendas_negociações' %}">
              <button name="btn_Negociacoes" class="botao_amarelo" type="submit" style="border-radius: 5px 0px 0px 5px; width: 150px; border: none;">Negociações</button>
            </form>
        </div>
        <div style="border-bottom: 5px solid #989beb; margin-bottom: -10px; border-radius: 5px 5px;">
            <form action="#">
                <div style="margin-bottom: 5px;">
                    <button name="btn_Vendas" class="botao_amarelo" type="submit" style="border-radius: 0px 0px 0px 0px; width: 150px; border: none; background-color: antiquewhite;">Vendas</button>
                </div>
            </form>
        </div>
        <div>
            <form action="{% url 'painel_de_vendas_estoque' %}">
                <button name="btn_Estoque" class="botao_amarelo" type="submit" style="border-radius: 0px 5px 5px 0px; width: 150px; border: none;">Estoque</button>
            </form>
        </div>
    </div>
    
    <br><br><br><br><br><br><br><br>
   

    <div style="display: flex; justify-content: center; align-items: center;">   
        <img class="img" style="width: 100px; height: auto;" src="{% static '/assets/imagens/home/image.png' %}" alt="imagem">
    </div><br>
 
    <p class="carrinho_texto_titulo" style="font-size: 70px;"> FUNÇÃO EM DESENVOLVIMENTO </p>
    <p class="carrinho_texto_titulo"> Volte mais tarde </p>

    <div style="display: flex; justify-content: center; align-items: center;">   
        <a href="javascript:history.back()">
            <button class="botao_amarelo">
                <b>Voltar para ultima pagina</b>
            </button>
        </a>    
    </div><br>

    <!-- Barra de Navegação (Logo, Pesquisa, Home, Carrinho e Perfil) -->

    {% include 'home/partials/_footer.html'%}

</body>

</html>

{% endblock %}