{% load static %}

 <!-- Barra de Navegação (Logo, Pesquisa, Home, Carrinho e Perfil) -->
<nav class="navbar navbar-expand-lg" style="background-color: #e6c9ac; position: fixed; right: 0px; top: 0%; width: 100%;">
    <div class="container-fluid">

      <a class="navbar-brand" href="{% url 'home' %}">
        <img class="logo_menor" src="{% static '/assets/logo/syf_logomenor.png' %}" class="img" width="117" height="74" alt="">
      </a>

        <div class="container">
          <form>
            <div class="form">
              <div class="col-xs-3">
                <input class="form-control" id="ex3" placeholder="Pesquisar" type="text">
              </div>
            </div>
          </form>
        </div>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <!-- Botão de Home -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
              <img class="icone_barra" src="{% static '/assets/ícones/syf_home.png' %}" alt="Bootstrap">
            </a>
          </li>

          <!-- Botão de Carrinho -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <img class="icone_barra" src="{% static '/assets/ícones/syf_carrinho.png' %}" alt="Bootstrap">
            </a>            
          </li>

          <!-- Botão de Chat -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <img class="icone_barra" src="{% static '/assets/ícones/syf_chat.png' %}" alt="Bootstrap">
            </a>
          </li>

          <!-- Botão de Perfil -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'perfil' %}">
                <img class="icone_barra" src="{% static '/assets/ícones/syf_perfil.png' %}" alt="Bootstrap">
            </a>            
          </li>

          <!-- Botão de Configuração -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
                <img class="icone_barra" src="{% static '/assets/ícones/syf_config.png' %}" alt="Bootstrap">
            </a>            
          </li>

        </ul>

    </div>
  </nav>

  <p style="line-height: 100px; color: #414141;">
  espaco
  </p>