{% extends  'base_publicacao.html' %}

{% block content %}
  <h1>Create Item</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      {{ form.name }}
    </div>
    <div class="form-group">
      {{ form.description }}
    </div>
    <div class="form-group">
      {{ form.price }}
    </div>
    <div class="form-group">
      {{ form.image }}
    </div>
    <button type="submit" class="btn mb-3" style="background-color: #2da8dd; color: #000000; width: 180px; height: 35px">Publicar</button>
  </form>
{% endblock %}

